.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  background: radial-gradient(circle, #101010 10%, transparent 11%);
  background-size: 1em 1em;
  background-color: #202020;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul[role="menubar"] > li a {
   display: flex;
   gap: 0.25rem;
   align-items: center;
}

.home {
  display: inline-block;
  position: absolute;
  background-color: var(--white);
  width: calc(1rem + calc(var(--randomX) * 3rem));
  height: calc(2rem + calc(var(--randomY) * 1rem));
}

.main {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 100vh;
  width: 100%;
  color: var(--light-foreground-color);
  > span {
    text-transform: lowercase;
  }
  padding: 0.5rem 0;

}

.header {
  --randomX: 0.33;
  --randomY: 0;
  display: grid;
  width: 100%;
  justify-content: stretch;
  font: var(--mono-font);
  font-size: 1.25rem;
  padding: 2rem 4rem;
  position: relative;
  z-index: 3;
  ul {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;
    margin: 0;
    li {
      list-style: none;
      &:nth-child(1) {
        --color: var(--red);
      }
      &:nth-child(2) {
        --color: var(--yellow);
      }
      &:nth-child(3) {
        --color: var(--blue);
      }
    }
    a {
      color: var(--foreground-color);
      text-decoration: none;
      text-transform: lowercase;
      &::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        margin: 0 0.5rem;
      }
      &:hover,
      &:focus {
        color: var(--white);
        &::before {
          background-color: var(--white);
          animation: rotate 15s linear 0s infinite normal;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    ul li a::before {
      content: initial;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(0, 0, 1, 1turn);
  }
}
