.background {
  --mouseX: 0px;
  --mouseY: 0px;
  position: absolute;
  top: 50vh;
  left: 60vw;
  background: var(--white);

  > div {
    position: absolute;
    background: var(--bgColor);
    transform: translate(var(--translateX), var(--translateY));
    transition: transform 1s ease-out;
    top: var(--top);
    bottom: var(--bottom);
    right: var(--right);
    left: var(--left);
    height: var(--height);
    width: var(--width);
    &:nth-child(1) {
      --bgColor: var(--red);
      --translateX: calc(var(--mouseY) / 50);
      --translateY: calc(var(--mouseX) / 50);
      --top: 50px;
      --width: 400px;
      --right: -150px;
      --height: 300px;
    }

    &:nth-child(2) {
      --bgColor: var(--yellow);
      --translateX: calc(calc(-1 * var(--mouseX)) / 50);
      --translateY: calc(var(--mouseX) / 50);
      --top: -200px;
      --width: 200px;
      --left: 200px;
      --height: 400px;
    }

    &:nth-child(3) {
      --bgColor: var(--blue);
      --translateX: calc(var(--mouseX) / 50);
      --translateY: calc(calc(-1 * var(--mouseY)) / 50);
      --bottom: 0px;
      --width: 600px;
      --right: -80px;
      --height: 150px;
    }
  }
}

.frontpage {
  align-content: end;
  display: grid;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100vw;
  padding-top: 2.5rem;

  .titleCard_ {
    display: grid;
    grid-template:
      "profile title" auto
      "profile description" auto
      "profile icons" auto / auto 1fr;
    background: var(--background-color-dark);
    padding: 2rem;
    margin: 2rem 4rem;
    max-width: 800px;
    .profile {
      max-width: 180px;
      height: auto;
      grid-area: profile;
      margin-right: 2rem;
      border-radius: 999px;
      align-self: center;
    }
    .title {
      --char-width: 24px;
      --speed: 0.05s;
      padding: 0;
      font: var(--mono-font);
      font-weight: 700;
      font-size: 48px;
      grid-area: title;

      > .name {
        white-space: nowrap;
        overflow: hidden;
        width: calc(6 * var(--char-width));
        animation: typewriter calc(6 * var(--speed)) steps(6) 0s 1 normal both;
        line-height: 0.8;
      }
      > .surname {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        width: calc(10 * var(--char-width));
        animation: typewriterr calc(10 * var(--speed)) steps(10)
          calc(6 * var(--speed)) 1 normal both;
        line-height: 0.8;
        padding-bottom: 0.5rem;
        &::after {
          content: "_";
        }
      }
    }
    .description {
      font: var(--mono-font);
      font-size: 1.25rem;
      grid-area: description;
    }
    .icons {
      display: flex;
      gap: 1rem;
      width: 100%;
      justify-items: center;
      grid-area: icons;
      img {
        max-width: 40px;
        height: auto;
        border: 1px solid var(--white);
      }
    }
  }
}

@media (max-width: 768px) {
  .frontpage {
    align-content: center;
    .titleCard_ {
      grid-template:
        "profile" auto
        "title" auto
        "description" auto
        "icons" auto / 1fr;
      margin: 1rem;
      justify-items: center;
      .profile {
        margin: 0 0 1rem 0;
      }
      .title {
        --char-width: 16px;
        font-size: 32px;
      }
    }
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: calc(6 * var(--char-width));
  }
}

@keyframes typewriterr {
  from {
    width: 0;
  }
  to {
    width: calc(10 * var(--char-width));
  }
}
