.about {
  background: white;
}

.textContent {
	max-width: 700px;
	color: var(--background-color);
	width: 100%;
	padding: 1rem;
}

.redSquare::before {
	--width: 3em;
	--offsetX: 2em;
	display: inline-block;
	content: "";
	width: var(--width);
	height: 1em;
	background-color: var(--red);
	position: relative;
	top: 0.1em;
	right: var(--offsetX);
	margin-right: calc(1rem - var(--offsetX));
}
