@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --background-color: #202020;
  --background-color-dark: #101010;
  --black: #000;
  --white: #fff;
  --red: #ff3232;
  --yellow: #feff32;
  --blue: #4444ff;
  --foreground-color: #ddd;
  --light-foreground-color: #888;
  --text-font: normal normal 400 1rem "Lato", Helvetica, sans-serif;
  --mono-font: 1rem "Inconsolata", monospace;
  --header-font: normal normal 700 1rem "Lato", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  height: 100%;
}

body {
  font: var(--text-font);
  color: var(--foreground-color);
  background-color: var(--background-color);
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

.loading-animation {
  &::after {
    display: inline-block;
    content: ".";
    width: 1rem;
    animation: 4s steps(4) 0s infinite loading;
  }
}

@keyframes loading {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "";
  }
}
